/* style.css generado automáticamente */
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}
.input-group select {
  padding: 0.4rem;
  min-width: 180px;
}
.select2-results__option img,
.select2-selection__rendered img {
  vertical-align: middle;
  margin-right: 6px;
  height: 28px;
  width: 28px;
}



/* Estilos para columna EVs/IVs */
#ev-iv-column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.ev-container, .iv-container {
  margin-bottom: 20px;
}

.ev-container label,
.iv-container label {
  display: inline-block;
  width: 40px;
  font-weight: bold;
  margin-top: 10px;
}

.ev-slider {
  width: 150px;
  margin: 5px 10px;
}

.ev-value {
  display: inline-block;
  width: 30px;
  font-weight: bold;
}
