body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #ddd;
  padding: 0.5rem 0;
  text-align: center;
}

main {
  background: #fff;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

#pokemonInfo {
  margin-top: 1rem;
}

.logo {
  height: 290px;
}.logo {
  height: 120px;  /* Aumentamos tamaño del logo */
}
.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.85rem;  /* Letras más pequeñas */
  justify-content: center;
}

.stats span {
  background: #eee;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

#copyBtn {
  background: #ff0000;
  border: 2px solid #ff0000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
}
#pokemonSelect {
  max-width: 300px;  /* Limitamos el tamaño del dropdown */
}